.main_doc {
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    z-index: 1;

    div.list_articles {
      margin-bottom: 20px;
      box-shadow: 0px -4px 0px #091a28 inset;
      border: 1px solid #091a28;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      
      .tag {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px 7px 0px 0px;
        padding: 5px;
        background-color: #091a28;
        color: white;
        font-weight: bold;
      }

      .title {
        color: #000;
        font-weight: bold;
        font-size: 24px;
        text-transform: capitalize;
      }

      .deskripsi {
        color: #000;
      }
      
      .dibuat {
        color: #091a28;
      }
    }

    div.dark {
      margin-bottom: 20px;
      box-shadow: 0px -4px 0px #007acc inset;
      border: 1px solid #007acc;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      
      .tag {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px 7px 0px 0px;
        padding: 5px;
        background-color: #007acc;
        color: white;
        font-weight: bold;
      }

      .title {
        color: #007acc;
        font-weight: bold;
        font-size: 24px;
        text-transform: capitalize;
      }

      .deskripsi {
        color: #007acc;
      }
      
      .dibuat {
        color: white;
      }
    }
  }

  @media (max-width: 320px) {
    .main_doc {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media (min-width: 321px) and (max-width: 480px) {
    .main_doc {
      margin-left: 10px;
      margin-right: 10px;
    }
  }